site_name: "OpenShifting the hard way"
site_url: ""
site_author: "jbezotte@redhat.com"
copyright: ""
site_description: >-
  Documentation for disconnected OpenShift installs. Contains all required js, css, and html for the site to function offline.
  If you want just the markdown, download the git repository and extract the markdown files in the docs/ directory.
use_directory_urls: false

plugins:
  - offline:
      enabled: !ENV [OFFLINE, false]
  - privacy:
      links_attr_map:
        target: _blank
  - search
  - autorefs:
      resolve_closest: true
      link_titles: true
  - to-pdf: # Plugin for compiling the docs into one PDF document, formatting may be broken a bit compared to the full site
      enabled_if_env: ENABLE_PDF_EXPORT
      #cover: false
      cover_subtitle: "Good luck, and have fun!"
      cover_logo: assets/openshift-logo.png
      output_path: standalone.pdf
  - print-site: # Plugin for compiling the docs into one HTML document, formatting may be broken a bit compared to the full site
      enabled: !ENV [ENABLED_PRINT_SITE, false]
      add_to_navigation: false
      print_page_title: ""
      print_page_basename: "print_page"
      # Table of contents
      add_table_of_contents: true
      toc_title: "Table of Contents"
      toc_depth: 5
      # Content-related
      add_full_urls: true
      enumerate_headings: false
      enumerate_figures: true
      add_cover_page: false
      cover_page_template: ""
      path_to_pdf: ""

nav: 
  - Welcome: index.md
  - Getting started: prereqs.md
  - 1. Connected Setup:
    - connected/index.md
    - 1.1 Tools: connected/tools.md
    - 1.2 Creating imagesets: connected/imagesets.md
    - 1.3 Mirror images to disk: connected/mirroring.md
  - 2. Disconnected Setup:
    - disconnected/index.md
    - 2.1 Tools and data: disconnected/data.md
    - 2.2 Mirror images to registry: disconnected/mirroring.md
    - 2.3 DNS Records: disconnected/dns.md
  - 3. Disconnected Cluster Install:
    - install/index.md
    - 3.1 Cluster Configs and ISO building: install/config.md
    - 3.2 Installing the cluster: install/install.md
  - 4. Post Installation:
    - postinstall/index.md
    - 4.1 Apply Cluster Resources: postinstall/resources.md
    - 4.2 NTP Setup: postinstall/ntp.md
    - 4.3 OpenShift Update Service: postinstall/osus.md
    - 4.4 Additional Tasks: postinstall/tasks.md
  - 5. Updating the Cluster:
    - update/index.md
    - 5.1 OpenShift Update Service: update/osus.md
    - 5.2 Mirror updated images to disk: update/connected-mirroring.md
    - 5.3 Mirror updated images to registry: update/disconnected-mirroring.md
    - 5.4 Update the cluster: update/update.md
  - Optional:
    - Red Hat Mirror Registry: optional/registry.md
    - Core User Password: optional/corepasswd.md
  - Example Configs:
    - imageset-config.yaml: examples/imageset-configs.md
    - install-config.yaml: examples/install-configs.md
    - agent-config.yaml: examples/agent-configs.md
    - Advanced Installations: examples/advanced-installation.md
  - About: release.md

theme:
  name: material
  #custom_dir: overrides # Used for html banner
  font: false
  features:
    - content.code.copy
    - content.code.annotate
    - content.tooltips
    #- navigation.sections # Expand all nav elements into sections
    #- navigation.tabs
    #- navigation.tabs.sticky
    - navigation.top
    - navigation.indexes # disable for single-page toc html generation
    - navigation.footer
    - navigation.tracking
    - toc.follow
    - toc.integrate # disable for single-page toc html generation
    #- header.autohide
    - announce.dismiss

  logo: assets/openshift-logo.png
  icon:
    annotation: material/plus-circle
  favicon: assets/openshift-logo.png
  palette: 
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

markdown_extensions:
  - pymdownx.highlight:
      pygments_lang_class: true
      anchor_linenums: true
      line_spans: __span
      use_pygments: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - toc:
      permalink: true
      #permalink_title: Anchor link to this section for reference
      toc_depth: 3
  - attr_list
  - tables
  - md_in_html
  - footnotes
  - admonition
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
    
extra_css:
  - stylesheets/extra.css

extra:
  generator: false
  social:
    - icon: fontawesome/solid/paper-plane
      link: mailto:jbezotte@redhat.com
      name: Email
    - icon: fontawesome/brands/github
      link: https://github.com/yojoshb/disco-docs
      name: Link to GitHub
    - icon: fontawesome/brands/redhat
      link: https://docs.redhat.com/en/documentation/openshift_container_platform/
      name: Link to Red Hat Docs